
.App {
  text-align: center;
  border:1px solid;
  border-radius:50px;
  margin:20px auto;
  padding:20px;
  background-color:#101820FF;
  color: #fff;
  max-width: 380px;
  --width:100%;
}


.timer-display label{
  font-size: 5em;
  font-weight: bold;
  }

button{
  margin: 10px;
  padding:10px 20px;
  border-radius:20px;
  border:none;
  background-color: #0063B2FF;
  color:#fff;
  letter-spacing: 1px;
}